body {
    background-color: rgb(124, 232, 167);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(196, 255, 194);
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    background-size: cover;
    background-position: center;
    padding: 1rem;
}

p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
}

li{
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
    animation-name: fadeIn;
    animation-duration: 1s;
}

h2{
    color: rgb(0, 0, 0);
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

li{
    color: rgb(41, 41, 41);
    font-size: 18px;
    text-align: left;
    margin-top: 10px;
}

strong{
    color: rgb(0, 0, 0);
    font-weight: bold;
    background-color: rgb(248, 71, 160);
    padding: 0.2rem 0.4rem;
}

img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}